<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.myMapper">
	<select id="getTeamList" resultType="model.Team">
		select team_id, name from team
	</select>
	
	<select id="getTeam" parameterType="Integer" resultType="model.Team">
		select * from team where team_id = #{team_id}	
	</select>
	
	<insert id="putPlayer" parameterType="model.Player">
		insert into player values(#{player_id},#{name},#{team_id})
	</insert>
</mapper>