<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	
	
	<context:annotation-config></context:annotation-config>
	<bean id="messageBean" class="sample5.MessageBeanImpl">
		<constructor-arg value="홍길동"></constructor-arg>
		<property name="greeting" value="안녕하세요"></property>
	</bean>
	<bean id="outputter" class="sample5.FileOutputter">
		<property name="filePath" value="output.txt"></property>
	</bean>
</beans>
