<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.myMapper">
	<insert id="putUser" parameterType="model.User">
		insert into user_account
		values(#{userId},#{userName},#{password},#{postCode},#{address},#{email},#{job},#{birthday})	
	</insert>

	<select id="getUser" resultType="model.User" parameterType="model.User">
		select user_id as userId, password, user_name as userName, postcode, address, email, job, birthday
		from user_account
		where user_id=#{userId} and password = #{password}
	</select>
	

</mapper>