<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

		<bean id="entityManagerFactory" 
class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean"
	p:persistenceUnitName="4-1"></bean>
	<bean 
class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"></bean>
	<bean id="teamDao" class="dao.impl.TeamDaoImpl"></bean>
	<bean id="selectTeamUi" class="ui.SelectTeamUi"
		p:teamDao-ref="teamDao"></bean>
	<bean id="menuUi" class="ui.MenuUi"
		p:selectTeamUi-ref="selectTeamUi"></bean>

</beans>
