<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<bean id="targetBean" class="sample4.MessageBeanImpl">
		<property name="name" value="홍길동"></property>
	</bean>

	<bean id="myAdvice" class="sample4.MyAdvice"></bean>
	<aop:config>
		<aop:aspect id="logAspect" ref="myAdvice">
			<aop:pointcut expression="execution (* sayHello())" id="logPointcut"/>
			<aop:around method="logAround" pointcut-ref="logPointcut"/>
		</aop:aspect>	
	</aop:config>
</beans>
